 <div>	
    <%if @owning_cards.any?%>
        
          <% @owning_cards.each do |card|%>
		    <div class="board">
			   <a class="newtab-link" href="<%= card_path(card)%>">  
			    <span class="newtab-title"><%=card.name%></span>
		   	   </a>
			</div>
		  <%end%>		
		<%else%>
		        You don't own any cards yet.
     <%end%>
 </div>	 
