<div class="container">
  <div class="row">	
    <%if @owning_boards.any?%>
        
          <% @owning_boards.each do |b|%>
		    <div class="board">
			   <a class="newtab-link" href="<%= board_path(b)%>">  
			    <span class="newtab-title"><%=b.name%></span>
		   	   </a>
			</div>
		  <%end%>		
		<%else%>
		        You don't own any boards yet.
		<%end%>
	   
</div>
