<table class="table table-striped">
	<thead>
	    <tr>
	      <th>boards</th>
	      <th>&nbsp;</th>
	    </tr>
  </thead>
  <tbody>
  	<% @boards.each do |board| %>
  	<tr>
    	<td><%= link_to board.name, board %></td>
		<td>
			<%=link_to  settings_board_path(board),:class=>'btn' do%>
				<i class="icon-cog"></i> settings
			<%end%>
		</td>
	</tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Board', new_board_path %>
