<table class="table table-striped">
	<thead>
	    <tr>
	      <th>boards</th>
	      <th>&nbsp;</th>
		  <th>&nbsp;</th>
		  <th>&nbsp;</th>
	    </tr>
  </thead>
  <tbody>
  	<% @users.each do |user| %>
  	<tr>
    	<td>
			<%= user.email %>
		</td>
		<td>
			<%= options_for_select(Role.all.collect{|r| [r.id,r.name]},user.role.name)%>
		</td>	
		<td>
			<%if can? :destroy, @board  %>
				<%= link_to 'Destroy', @board, :confirm => 'Are you sure?', 
				                  :method => :delete,:class => "btn btn-danger" %>
			<%end%>
		</td>	
	</tr>
	<% end %>
  </tbody>
</table>

