<!DOCTYPE html>
<html>
<head>
  <title>MtmKanban</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'layouts/navigation' %>
	<div class="content">
		<div>
			<%= yield %>
		</div>
	</div>
</body>
</html>
